.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-layout-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-layout-content {
  flex: 1;
  overflow: auto;
  padding: 24px;
  background-color: #f9fafb;
}